<!-- BEGIN: main -->
<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
<img src="{img_logo}" alt="Logo" longdesc="Logo"><br>
{solicitud_titulo}
<hr style= 'color: #999999; text-decoration: none;'>
<p>La Plata, {dt_fecha}</p>
<p>Evaluadora/or: {ds_evaluador}</p>
<p>Tenemos el agrado de dirigirnos a Ud. con la finalidad de invitarlo a participar en el proceso de evaluaci&oacute;n de la convocatoria de 
{solicitud_descripcion}. Su participaci&oacute;n como evaluador es de vital importancia para el Programa de Subsidios de la Universidad.
</p>
<p>La solicitud a evaluar es la siguiente:</p>
<p>Postulante: {ds_postulante}</p>
<p>
	-- Si usted se ha registrado anteriormente en el sistema <i>"Gesti&oacute;n de Proyectos",  "Solicitud de Subsidios Viajes y Estad&iacute;as" o 
	"Solicitud de Subsidios para J&oacute;venes Investigadores"</i> debe ingresar con su n&uacute;mero de CUIL y la contrase&ntilde;a que utiliz&oacute; anteriormente.<br><br> 
	-- Si usted no se ha registrado anteriormente  en el sistema <i>"Gesti&oacute;n de Proyectos",  "Solicitud de Subsidios Viajes y Estad&iacute;as" o 
	"Solicitud de Subsidios para J&oacute;venes Investigadores"</i> debe ingresar utilizando su CUIL y contrase&ntilde;a 123 (dicha clave se podr&aacute; cambiar 
	desde el sistema).

</p>
<!-- <p>
Para m&aacute;s informaci&oacute;n puede acceder al instructivo del evaluador que se encuentra disponible <a href="{urlInstructivo}">aqu&iacute;</a>.
</p> -->
<p>
<strong>--	Importante: los siguientes &iacute;tems de la planilla de evaluaci&oacute;n son evaluados autom&aacute;ticamente por el sistema: </strong><br> 
A4 - Factor de Eficiencia<br> 
B1 - Cargo Docente<br> 
D8 - Lugar de Trabajo<br> 
E1 - Si no obtuvo subsidio en el per&iacute;odo anterior

</p>
<p>
Agradeceremos recibir su evaluaci&oacute;n en un plazo estimado de 10 d&iacute;as. Asimismo, a los fines de evitar demoras en el tr&aacute;mite, le solicitamos 
nos comunique dentro de las 48 hs. de recibida esta comunicaci&oacute;n su aceptaci&oacute;n o rechazo por medio del sistema (ingresando 
<strong><a href="{urlWeb}">aqu&iacute;</a> donde deber&aacute; seleccionar la solicitud a evaluar, para luego aceptarla o rechazarla)</strong>.
</p>
<p>
Le aclaramos que cada solicitud tendr&aacute; asignado un evaluador interno (el mismo deber&aacute; pertenecer a la Unidad Acad&eacute;mica del solicitante) 
y un evaluador externo (que podr&iacute;a no relacionarse estrictamente con la tem&aacute;tica del solicitante). 
</p>
<p>Para cualquier consulta puede comunicarse con los coordinadores de Subsidios para J&oacute;venes Investigadores: <br><br>
{ds_coordinadores}<br>
O con esta Secretar&iacute;a al Tel&eacute;fono: 644-7006   Mail: viajes.secyt@presi.unlp.edu.ar<br>
</p>
<p>
Agradeciendo su valiosa colaboraci&oacute;n, saludamos a usted muy atentamente.<br><br>
Secretar&iacute;a de Ciencia y T&eacute;cnica U.N.L.P.
</p>
<hr style= 'color: #999999; text-decoration: none;'></body></html>

<!-- END: main -->