<!-- BEGIN: main -->
<style>
#presupuestos_tipo5{

}
#presupuestos_tipo5 fieldset {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 4px 4px 0 0;
    box-shadow:none;
    margin-top: 1em;
    padding: 1.5em;
    text-shadow: 0 1px 0 #FFFFFF;
}
#presupuestos_tipo5 .tblFooters {
    /*margin-top: -16px;*/
    background: none;
    border:none;
    text-align: center;
    margin-bottom: -34px;
    margin-top: -16px;
}
#presupuestos_tipo5 .camposRequeridos {
    display: none;
}
#presupuestos_tipo5 form fieldset .item {
    padding: 1px;
}
#total_tipo5{
	text-align: right;
	font-weight: bold;
}
</style>



<script type="text/javascript">

function before_submit_presupuesto_tipo5(){

	wait("#tbody_presupuestos_tipo5");
}

function remove_presupuesto_tipo5( itemOid ){

	before_submit_presupuesto_tipo5();
	soft_load(false, "doAction?action=delete_presupuesto_tipo5_session&item_oid="+itemOid, "GET", null, show_presupuestos_tipo5, false);
}

function add_presupuesto_tipo5( data ){
	show_presupuestos_tipo5( data );
	$("#item_oid").val("");
	$("#item_oid").blur();
	//$("#item_oid").focus();
}

function show_presupuestos_tipo5( data ){
	
	var data = $.parseJSON(data);
	if( data != null && data["error"]!=null){
		showMessageError( data["error"], true );
	}
	
	if( data != null && data["presupuestos_tipo5"]!=null){

		var presupuestos_tipo5 = data["presupuestos_tipo5"];
		var total_tipo5 = data["total_tipo5"];
		var presupuesto_tipo5Columns = data["presupuesto_tipo5Columns"];
		var presupuesto_tipo5ColumnsAlign = data["presupuesto_tipo5ColumnsAlign"];
		var presupuesto_tipo5ColumnsLabels = data["presupuesto_tipo5ColumnsLabels"];
		$('#tot_tipo5').html(total_tipo5);
		$('#thead_presupuestos_tipo5').find('tr').remove();
		$("#thead_presupuestos_tipo5").last().append( $('<tr>') );
		var trHeadPresupuesto = $('#thead_presupuestos_tipo5').find('tr').last();
		
		for( var colIndex=0; colIndex < presupuesto_tipo5ColumnsLabels.length;colIndex++){

			var label = presupuesto_tipo5ColumnsLabels[colIndex];
			var align =  presupuesto_tipo5ColumnsAlign[colIndex];
			trHeadPresupuesto.append($('<th>')
	                .text( label )
	                .attr('style', 'text-align:' + align + ';')
	            );
			
		}

		$('#tbody_presupuestos_tipo5').find('tr').remove();
				
		for( var index=0; index< presupuestos_tipo5.length;index++){

			var presupuesto_tipo5 = presupuestos_tipo5[index];

			$("#tbody_presupuestos_tipo5").last().append( $('<tr>') );
			
			var trPresupuesto = $('#tbody_presupuestos_tipo5').find('tr').last();
			
			for( var colIndex=0; colIndex < presupuesto_tipo5Columns.length;colIndex++){

				var column = presupuesto_tipo5Columns[colIndex];
				var align =  presupuesto_tipo5ColumnsAlign[colIndex];
				var valor = presupuesto_tipo5[column]; 

				trPresupuesto.append($('<td>')
		                .text( valor )
		                .attr('style', 'text-align:' + align + ';')
		            );
				
			}


			trPresupuesto.append($('<td>')
					.attr('style', 'text-align:center;')
					.append($('<href>')
							.append($('<img>')
					                .attr('src', '{WEB_PATH}css/smile/images/chk_off.png')
					                .text('quitar')
					            )
					        .attr('href', '#')
					        .attr('style', 'cursor:pointer;')
					        .attr('onclick', 'javascript: remove_presupuesto_tipo5( encodeURI( \"' + presupuesto_tipo5["item_oid"] +  '\")); return false;' )
			            )
	            ); 

		}
		
	}

	wakeUp("#tbody_presupuestos_tipo5");
	
	$('#edit_presupuesto_tipo5').each (function(){
		  this.reset();
		});
	
	sumar_total();
}



</script>
<div id="presupuestos_tipo5">
<fieldset>
	<legend>{presupuestos_tipo5_title}</legend>
<table id="presupuestos_tipo5">
   	<thead id="thead_presupuestos_tipo5">
   	<tr>
   		<!-- BEGIN: presupuesto_tipo5_th -->
   		<th style="text-align: {align};">{presupuesto_tipo5_label}</th>
   		<!-- END: presupuesto_tipo5_th -->
   		<th></th>
   	</tr>
   	</thead>
   	<tbody id="tbody_presupuestos_tipo5">
   	<!-- BEGIN: presupuesto_tipo5 -->   	
   	<tr>
   		<!-- BEGIN: presupuesto_tipo5_data -->	
   		<td style="text-align: {align};">{data}</td>
   		<!-- END: presupuesto_tipo5_data -->
   		
   		<td style="text-align: center;">
   			<!-- BEGIN:editar_presupuesto_tipo5 -->
   			<a href="#"><img src='{WEB_PATH}css/smile/images/chk_off.png' style="cursor:pointer;" onclick="javascript: remove_presupuesto_tipo5(encodeURI('{item_oid}')); return false;"></a>
   			<!-- END:editar_presupuesto_tipo5 -->
   		</td>
   	</tr>
   	<!-- END: presupuesto_tipo5 -->
   	</tbody>
</table>
<div id='total_tipo5'>{total_tipo5_lbl}:<span id=tot_tipo5>{total_tipo5}</span></div>

{formulario}
</fieldset>
    
</div>
<!-- END: main -->